.layoutApp .careBar {
    position: relative;
    height : 100px;
    background-color : #266BC2;
    width : 100%;
    text-align: center;
}

.layoutApp .careBar img{
    position:relative;
    padding-left : 100px;
    width : 1000px;
    height : 100px;
}

.layoutApp .careBar .careDot {
    position:absolute;
    top : 80px;
    right : 10%;
    width : 15px;
    height : 15px;
    border-radius: 10px;
    background-color: white;
    z-index: 1;
}
