.layoutFooter{
    position : relative;
    width : 100%;
    height : 280px;
    background-color : #2A2A2A;
    text-align: center;
}

.layoutFooter .footerUlGroup{
    position : relative;
    width : 1100px;
    height : 175px;
    top : 100px;
}

.layoutFooter .footerUlGroup li{
    padding-bottom: 10px;
    text-align: left;
}

.layoutFooter .footerUl1{
    color : #919191;
    display : inline-block;
    font-size : 13px;
    width : 285px;
}

.layoutFooter .footerUl1 li:first-child {
    color : white;
    font-weight: 800;
}

.layoutFooter .footerUl2{
    color : #919191;
    display : inline-block;
    font-size : 13px;
    width : 315px;
    margin-left: 10px;
}
.layoutFooter .footerUl2 li:nth-child(3){
    display : inline-block;
    margin-left : -60px;
}

.layoutFooter .footerUl2 li:nth-child(4){
    display : inline-block;
}
.layoutFooter .footerUl2 li:nth-child(4):hover{
    color : white;
    text-decoration: underline;
}

.layoutFooter .footerUl3{
    color : #919191;
    display : inline-block;
    font-size : 13px;
    width : 196px;
    margin-left: 10px;
}

.layoutFooter .footerImgStation3{
    position : relative;
    display : inline-block;
    left : -50px;
}

.layoutFooter .footerImgFacebook{
    top : -30px;
    left : -200px;
    position : relative;
    display : inline-block;
}

.layoutFooter .footerImgBlog{
    top : -30px;
    left : -200px;
    position : relative;
    display : inline-block;
}