
.layoutRoomSearch .roomListTable .price{
    font-size : 20px;
    font-weight: 500;
    display : inline-block;
    position : relative;
    top : -42px;
    left : 70px;
}

.layoutRoomSearch .roomListTable .roomHashDescription{
    display: block;
    position : relative;
    top : -15px;
    left : 60px;
    font-size : 14px;
    width : 280px;
}

.layoutRoomSearch .roomListTable td{
    width : 420px;
    padding : 2px;
    height : 120px;
    border : 1px solid #DFDFDF;
}

.layoutRoomSearch .roomListTable td:hover{
    background-color : #D2E5FF;    
}

.layoutRoomSearch .roomListTable img{
    position : relative;
    left : 30px;
    top : 30px;
    width : 110px;
    height : 100px;
    margin : -20px;
}

.layoutRoomSearch .roomListTable .contractType{
    font-size :20px;
    display : inline-block;
    position : relative;
    top : -40px;
    left : 60px;
}

.layoutRoomSearch .roomDescription{
    display : block;
    position : relative;
    top : -35px;
    left : 60px;
    font-size : 14px;
    width : 280px;
}

.layoutRoomSearch .roomSimpleDesctiption{
    display : block;
    position : relative;
    top : -10px;
    left : 60px;
    font-size : 14px;
    width : 280px;
}