
.layoutRoomSearch .navLeftDiv{
    position : relative;
    left : 20px;
    display : inline-block;
    height: 20px;
    padding : 10px 0px;
}

.layoutRoomSearch .navLeftDiv:hover{
    background-color : white;
}