
.layoutRoomSearch .searchRoomNav{
    background-color: #F7F7F7;
    height : 40px;
    width : 100%;
}


.layoutRoomSearch .searchRoomNavRight{
    position : absolute;
    top : 65px;
    right : 50px;
}

.layoutRoomSearch .searchRoomNavRight li{
    position : relative;
    left : 30px;
    font-size : 13px;
    display : inline-block;
    padding-left : 40px;

}