
.layoutDetailedRoom .sideBarBottom{
    position : relative;
    top : 20px;
}

.layoutDetailedRoom .sideBarBottomBackground{
    position :relative;
    left : -20px;
    background-color: #F7F7F7;
    width : 100%;
    height : 100%;
    padding : 20px 20px;
    border-top : 1px solid #D1D1D1;
}

.layoutDetailedRoom .sideBarBottomAgent h3{
    font-size : 15px;
}

.layoutDetailedRoom .sideBarBottomAgent .agentOfficeRepresentative{
    font-size : 14px;
    padding : 6px 0px;
    color : #585858;
    font-weight: 900;
}

.layoutDetailedRoom .sideBarBottomAgent .realEstateAgent{
    font-size : 13px;
    padding : 6px 0px;
}

.layoutDetailedRoom .sideBarBottomAgent .agentOfficeAddress{
    font-size : 13px;
    padding : 1px 0px;
}

.layoutDetailedRoom .sideBarBottomAgent .registrationNumber{
    font-size :13px;
    padding : 2px 0px;
}

.layoutDetailedRoom .sideBarBottomAgent .confirm{
    font-size : 10px;
    padding : 5px 0px;
}

.layoutDetailedRoom .confirm:before{
    content : '\26a0'
}

.layoutDetailedRoom .sideBarBottomAgentPhone{
    border : 1px solid black;
    background-color : blue;
    color : white;
    text-align : center;
    height : 40px;
    margin-top : 20px;
}

.layoutDetailedRoom .sideBarBottomAgentPhone p{
    position : relative;
    top : 10px;
}
