

.layoutDetailedRoom .detailedRoomGoogleMap{
    position : relative;
    margin :0px;
    top : 50px;
    width : 640px;
    height : 1200px;
    
}



.layoutDetailedRoom .detailedRoomGoogleMapBottom{
    position : relative;
    top : 850px;
    left : 300px;
}
