
.layoutDetailedRoom .articleInformation{
    position : relative;
    top : 20px;
    left : -9%;
    width : 82%;
    height : 300px;
    padding-top : 30px;
}

.layoutDetailedRoom .articleInformation table{
    position : relative;
    width : 660px;
    border : 1px solid black;
    border-collapse: collapse;
    border-left : 0px;
    border-right : 0px;
    font-size : 14px;
}

.layoutDetailedRoom .articleInformation table caption{
    text-align: left;
    font-size : 20px;
    font-weight: 900;
    padding : 15px 0px;
}

.layoutDetailedRoom .articleInformation table td{
    color : #929292;
    text-align: left;
    border : 1px solid #D1D1D1;
    width : 130px;
    border-left : 0px;
    border-right : 0px;
}

.layoutDetailedRoom .articleInformation table th{
    text-align: right;
    border : 1px solid #D1D1D1;
    width : 240px;
    border-left : 0px;
    border-right : 0px;
    padding : 10px 0px;
}
