.layoutApp .themeImgText{
    position : relative;
    top : -200px;
    text-align: center;
    color : white;
    width : 200px;
}

.layoutApp .themeImgText h3{
    font-size : 22px;
    margin-bottom: 20px;
}

.layoutApp .themeImgText hr { 
    position : relative;
    width : 50px;
    margin-bottom: 20px;
}

.layoutApp .themeImgText p{
    font-size : 13px;
}
