


.layoutDetailedRoom .sideBarBasic{
    position : fixed;
    top : 102px;
    right : 45%;
    width: 250px;
    margin-right: -480px;
    padding : 20px 20px;
    border : 1px solid #D1D1D1;
    z-index : 3;
    background-color : white;    
}

.layoutDetailedRoom .sideBarAbsolute{
    position : absolute;
    right : 45%;
    width: 250px;
    margin-right: -480px;
    padding : 20px 20px;
    border : 1px solid #D1D1D1;
    z-index : 3;
    background-color : white;
}

.layoutDetailedRoom .sideBar{
    width : 300px;
}



