

.layoutRoomSearch .roomList{
    overflow-y: hidden;
    position: absolute;
    top: 102px;
    right: 0;
    bottom: 0;
    z-index: 3;
    width: 460px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

.layoutRoomSearch .roomListResult{
    background-color : #3B8DE0;
    height : 40px;
}

.layoutRoomSearch .roomListResult p{
    position : relative;
    top : 10px;
    width : 440px;
    font-size : 14px;
    color : white;
}


.layoutRoomSearch .roomListResult p:before{
    content : "▶"
}

.layoutRoomSearch .roomListOverFlow{
    height : 100%;
    overflow-y: scroll;
}

.layoutRoomSearch .roomListAd{
    background-color: #F7F7F7;
    height : 40px;
}

.layoutRoomSearch .roomListAd p{
    position : relative;
    top : 10px;
    width : 420px;
    font-size : 14px;
}

.layoutRoomSearch .roomListAd p:before{
    content: url(../../../images/roomSearch/adIcon.png);
}

.layoutRoomSearch .roomListAd span{
    position : relative;
    right : -400px;
    top : -10px;
    font-size : 14px;
}

.layoutRoomSearch .roomListTable{
    margin : 10px;
    width : 420px;
    border-collapse: collapse;
}
