.layoutHeader{
    position : relative;
    height: 60px;
}
.layoutHeader .iconCommon{
    display : inline-block;
    position : absolute;

}
.layoutHeader .iconMain{
    top : 5px;
    left : 10px;
}

.layoutHeader .iconMainPro{
    top : 10px;
    left : 100px;
}

.layoutHeader .iconMainBar{
    top : 15px;
    left : 178px;
}

.layoutHeader .iconMainPay{
    top : 12px;
    left : 193px;
}


.layoutHeader .navRoom{
    display : inline-block;
    position : absolute;
    right : 330px;
    top : 20px;
    width : 350px;
}

.layoutHeader .navRoom ul{
    display : inline-block;
    padding-left: 70px;
    font-size : 14px;
    font-weight: 100;
}

.layoutHeader .navRoom li{
    display : inline;
    padding-left : 30px;
}


.layoutHeader .navRoom .active{
    font-weight: bold;
    display : inline-block;
    height: 35px;
    border-bottom : 4px solid #2579CD;
}

.layoutHeader .navLink:hover{
    color : #B9EBFF;
}
