body {
    overflow-x : none;
}


.AppWrapper { 
        width : 100%;
        height : 100%;
        background: url(./images/mainPhotoTop.png);
        background-repeat:no-repeat;
        background-position: top 60px left 45%;
        background-size: 2650px 570px;
            
        }
        


*{
    margin : 0 auto;
    padding : 0;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color : black;
}


.MainIconDiv{
    display : inline-block;
    position : relative;
    top : 5px;
    left : 5px;
}


.MainBarDiv{
    display : inline-block;
    position : relative;
    top : -1px;
}

.MainDabangProDiv{
    display : inline-block;
    position : relative;
    left : 5px;
}

.MainDabangPayDiv{
    display : inline-block;
    position : relative;
    top : -1px;
    left : -3px;
}


.NavRoomDiv{
    display : inline-block;
    position : absolute;
    right : 350px;
    top : 20px;
    width : 340px;
}

.NavRoomDiv ul{
    display : inline-block;
    padding-left: 70px;
    font-size : 14px;
    font-weight: 100;
}

.NavRoomDiv li{
    display : inline;
    padding-left : 30px;
}

.active{
    font-weight: bold;
    background-color : black;
}

.NavLoginDiv{
    display : inline-block;
    position : absolute;
    right : 20px;
    top : 20px;
    width : 300px;
}

.NavLoginDiv ul{
    display : inline-block;
    padding-left: 20px;
    font-size : 12px;
    font-weight: 100;
}

.NavLoginDiv li{
    display : inline;
    padding-left : 30px;
}

.MainPhotoBottomDiv{
    position : absolute;
    top : 628px;
    text-align: center;
    background-color : #595E62;
    width : 100%;
    height : 110px;
}

.MainPhotoBottomSearch{
    position : relative;
    top : 30px;
    width : 430px;
    height : 50px;
    border : 0px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    text-indent : 20px;
    font-size : 15px;
}

.MainPhotoBottomDiv div{
    display : inline-block;
}

.MainPhotoBottomButton{
    position : relative;
    top : 31px;
    width : 100px;
    height : 51px;
    background-color : #2579CD;
    border : 1px solid #2579CD;
    left : -6px;
    color : white;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}

.MainPhotoBottomButton:hover{
    background-color: #2074C8;
}





.TemaSearchSentence{
    position : relative;
    top : 700px;
    width : 100%;
    text-align: center;
}

.TemaSearchSentence h1{
    font-size : 38px;
}

.TemaSearchSentence p{
    font-size : 20px;
}

.TemaSentence{
    position : relative;
    top : -200px;
    text-align: center;
    color : white;
    width : 200px;
}

.TemaSentence h3{
    font-size : 22px;
    margin-bottom: 20px;
}
.TemaSentence hr { 
    position : relative;
    width : 50px;
    margin-bottom: 20px;
}

.TemaSentence p{
    font-size : 13px;
}



.TemaSearchPhotoGroupDiv{
    
    height : 1000px;
    width : 100%;
    text-align: center;
}


.TemaSearchPhotoGroup{
    position:relative;
    width : 1000px;
    top : 750px;

    padding-left : 80px;
}

.TemaSearchPhotoGroup figure {
    height : 300px;
    background: #fff;
    overflow: hidden;
}




.TemaSearchTable img { 
    width : 300px;
    height: 300px;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

.TemaSearchTable figure:hover img {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    opacity: 0.5;
}

.TemaSearchTable td{
    padding : 10px;
    margin : 20px;
}

.CarePhotoDiv {
    position:absolute;
    top : 1600px;
    height : 100px;
    background-color : #266BC2;
    width : 100%;
    text-align: center;
}

.CarePhotoDiv img{
    position:relative;
    padding-left : 100px;
    width : 1000px;
    height : 100px;
}



.CareDot {
    position:absolute;
    top : 80px;
    right : 10%;
    width : 15px;
    height : 15px;
    border-radius: 10px;
    background-color: white;
    z-index: 10;
}




.NavSiteDiv{
    position:absolute;
    top : 1800px;
    width : 100%;
    height : 320px;
    text-align: center;
}

.NavSiteUl{
    position : relative;
    padding-left : 100px;
    width : 1000px;
    height : 320px;
}



.NavSiteUlCommon{
    top : 0px;
    display : inline-block;
    width : 190px;
    text-align: left;
    margin-right : 5px;
}


.NavSiteUl h4{
    font-size : 15px;
    color : #585858;
    font-weight: 600;
}

.NavSiteUl li {
    font-size : 13px;
    padding-top : 10px;
    font-weight: 100;
}

.NavSiteUl li:hover {
    text-decoration: underline;
    color : #3B8DE0;
}

.NavSiteUl1{
    position : relative;
    top : -80px;
    height : 170px;
    
}

.NavSiteUl2{
    position : relative;
    top : -55px;
    height : 194x;
}

.NavSiteUl3{
    padding-top : 10px;
}

.NavSiteUl4{
    position : relative;
    top : 50px;
}

.NavSiteUl3With4{
    position : relative;
    top : -35px;
    display : inline-block;
    width : 190px;
    height: 244px;
}

.NavSiteUl5{
    padding-top : 10px;
}

.NavSiteUl6{
    position : relative;
    top : 50px;
}

.NavSiteUl5With6{
    position : relative;
    top : -10px;
    display : inline-block;
    width : 190px;
    height: 280px;
}

.NavSiteUl7{
    position : relative;
    top : -140px;
}



.TableSiteDiv{
    text-align: center;
    position : relative;
    top :1375px;
    width :100%;
}

.TableSiteDivHr{
    border :0.5px solid #D1D1D1;
}

.TableSite{
    position : relative;
    top:-1px;
    border-collapse: collapse;
    left : 70px;
}



.TableSite td{
    font-size : 13px;
    width : 135px;
    height : 50px;
    border : 1px solid #D1D1D1;
    border-top : 0px;
    border-bottom: 0px;
}

.TableSite td:hover{
    background-color: #E7E7E7;

}



.FooterDiv{
    position : absolute;
    top : 2200px;
    width : 100%;
    height : 270px;
    background-color : #2A2A2A;
    text-align: center;
}

.FooterUlGroupDiv{
    position : relative;
    top : 75px;
    padding-left : 100px;
    width : 960px;
    height : 175px;
}

.FooterUlGroupDiv li{
    padding-bottom: 10px;
    text-align: left;
}

.FooterUl1{
    color : #919191;
    display : inline-block;
    font-size : 13px;
    width : 285px;
}

.FooterUl1 span {
    color : white;
    font-weight: 800;
}

.FooterUl2{
    color : #919191;
    display : inline-block;
    font-size : 13px;
    width : 315px;
    margin-left: 10px;
}

.FooterUl2 span:hover{
    color : white;
    text-decoration: underline;
}

.FooterUl3{
    color : #919191;
    display : inline-block;
    font-size : 13px;
    width : 196px;
    margin-left: 10px;
}



.FooterImg{
    position : relative;
    display : inline-block;
    top : 0px;
    left : -30px;
}


.FooterUlImg1{
    padding-bottom : 20px;
    padding-left : 80px;
    position : relative;
    display : inline-block;
    left : 10px;
}

.FooterUlImg2{
    padding-bottom : 20px;
    padding-left : 10px;
    position : relative;
    display : inline-block;
    left : 10px;
}



.Modal {
/*    display: none; */
    position: fixed; 
    z-index: 10; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
    padding-top: 60px;
}

 .AllBorder{
    position : relative;
    margin : auto;
    width : 350px;
    height : 450px;
    border-top : 4px solid #3B8DE0;
    background-color: white;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.Close {
    position: relative;
    right : -355px;
    top : -55px;
    color: white;
    font-size: 40px;
    font-weight: 300;
    padding : -30px;
}

.Close:hover, .Close:focus {
    color: aqua;
    cursor: pointer;
}



.LoginBoxTop{
    margin-top : -60px;
}

.LoginForm{
    padding: 15px;
}

.LoginBoxLogin{
    margin-bottom: 5px;
    margin-top : 25px;
}

.LoginForm h1 {
        font-size : 23px;
        text-align: center;
        font-weight: 600;
        padding : 15px;
    }

.LoginBoxLogin label{
    font-size : 13px;
}

.LoginBoxLogin input{
            position : relative;
            width: 250px;
            height : 40px;
            padding: 12px 20px;
            margin: 8px 0;
            border: 1px solid skyblue;
            box-sizing: border-box;
        }

.EmailId {
    right : -27px;
}

.Password{
    right : -15px;
}


.LoginButton {
    background-color : #3588DB;
    width : 325px;
    height : 50px;
    color : white;
    border: 0;
    margin-top : 20px;
    border-radius : 5px;
}

.LoginButton:hover{
    background-color : #2074C8;
}







.LoginBoxBottom{
    padding :0px 15px;
}

.LoginOption{
    display: block;
    text-align: center;
}

.LoginOption li{
    display : inline-block;
    text-align: center;
    font-size : 13px;
    padding : 0px 5px;
}

.LoginOption a{
    color : gray;
}

.KakaoLogin { 
    margin-right: 2px;
    background-color : yellow;
    width : 157px;
    height : 40px;
    border: 1px solid black;
    border-radius : 5px;
}

.KakaoLogin:hover  {
    background-color : #BDAB0A;
}

.FacebookLogin { 
    margin-left: 2px;
    background-color : darkblue;
    color : white;
    width : 157px;
    height : 40px;
    border: 1px solid black;
    border-radius : 5px;
    margin-top: 25px;
}

.FacebookLogin:hover{
    background-color : #29447F;
}

.ProRegister{
        display : block;
        text-align: center;
        font-size:13px;
        margin : -10px;
    }


.ConfirmEmailId{
    z-index : 2;
}


.GoogleMapDiv{
    position : relative;
    top : 2000px;
}













.RoomSearchWrapper{
    position : relative;
    overflow: hidden;
}


.HeaderRoomSearch{
    height: 60px;
}



.RoomSearch{
    position : relative;
    display : inline-block;
    top : -10px;
    left : 20px;
}

.RoomSearch input{
    font-size : 12px;
    text-align: center;
    color : gray;
    width : 250px;
    height : 30px;
    border : 2px solid #3B8DE0;
    border-right: none;
}

.RoomSearch button {
    background-color: #3B8DE0;
    width : 35px;
    height : 34px;
    color : white;
    border : none;
    position : relative;
    left : -6px;
    top : 2px;
}
.HeaderRoomSearch li{
    float : left;
}

.ProductNav{
    background-color: #F7F7F7;
    height : 40px;
    width : 100%;
}

.ProductNav li{
    float : left;
}



.ProductNavLeftTable{
    position : absolute;
    left : 20px;
    font-size : 13px;
    border-collapse: collapse;
    border : 1px solid gray;
    border-top : 0px;
    border-bottom : 0px;
    
}


.ProductNavLeftTable td{
    padding : 10px 28px;
    border : 1px solid gray;
    border-top : 0px;
    border-bottom : 0px;
    
}

.ProductNavLeftTable td:after{
    content : "▼";
    position :relative;
    left : 5px;
    color : #3B8DE0;
}

.ProductNavLeftTable td:hover{
    background-color : white;
}

.ProductNavRight{
    position : absolute;
    top : 65px;
    right : 50px;
}












.RoomListDiv{
    display: inline-block;
    position :fixed;
    right : 0px;
    top : 100px;
    width : 460px;
    height : 100%;
    background-color: white;
}

.RoomListOverFlow{
    height : 100%;
    overflow-y: scroll;
}

.RoomListResult{
    background-color : #3B8DE0;
    height : 40px;
}

.RoomListResult p{
    position : relative;
    top : 10px;
    width : 440px;
    font-size : 14px;
    color : white;
}


.RoomListResult p:before{
    content : "▶"
}

.RoomListAd{
    background-color: #F7F7F7;
    height : 40px;
}

.RoomListAd p{
    position : relative;
    top : 10px;
    width : 420px;
    font-size : 14px;
}

.RoomListAd p:before{
    content : "▶"
}

.RoomListAd a{
    position : relative;
    right : -400px;
    top : -10px;
    font-size : 14px;
}

.RoomListTable{
    margin : 10px;
    width : 420px;
    border-collapse: collapse;
}

.RoomListTable td{
    width : 420px;
    padding : 2px;
    height : 120px;
    border : 1px solid #DFDFDF;
}

/*.RoomListTable td:hover{
    background-color : #D2E5FF;    
}*/
.RoomListTable img{
    z-index : -1;
    position : relative;
    left : 30px;
    top : 30px;
    width : 110px;
    height : 100px;
    margin : -20px;
}

.se{
    z-index : -1;
    font-size :20px;
    display : inline-block;
    position : relative;
    top : -40px;
    left : 60px;
}

.price{
    z-index : -1;
    font-size : 20px;
    font-weight: 500;
    color : blue;
    display : inline-block;
    position : relative;
    top : -42px;
    left : 70px;
}

.roomHashDescription{
    z-index : -1;
    position : relative;
    top : -15px;
    left : 60px;
    font-size : 14px;
    width : 280px;


}

.roomDescription{
    z-index : -1;
    position : relative;
    top : -35px;
    left : 60px;
    font-size : 14px;
    width : 280px;
}

.roomPrivateDesctiption{
    z-index : -1;
    position : relative;
    top : -10px;
    left : 60px;
    font-size : 14px;
    width : 280px;
}


















.PhotoSlideDiv{
    position : relative;
    top : 20px;
    left : -9%;
    width : 82%;
}

.PhotoSlideDiv img{
    display: block;
}

.HeaderGroupHr{
    position : relative;
    top : 10px;
}
.RoomCenterDescriptionTableDiv{
    position : relative;
    left : -9%;
    width : 82%;
}

.RoomCenterDescriptionTableDiv table{
    position : relative;
    top : 20px;
    width : 660px;
    border : 1px solid black;
    border-collapse: collapse;
    border-left : 0px;
    border-right : 0px;
    font-size : 14px;
}

.RoomCenterDescriptionTableDiv table caption{
    text-align: left;
    font-size : 20px;
    font-weight: 900;
    padding : 15px 0px;
}

.RoomCenterDescriptionTableDiv table td{
    color : #929292;
    text-align: left;
    border : 1px solid #D1D1D1;
    width : 130px;
    border-left : 0px;
    border-right : 0px;
}

.RoomCenterDescriptionTableDiv table th{
    text-align: right;
    border : 1px solid #D1D1D1;
    width : 240px;
    border-left : 0px;
    border-right : 0px;
    padding : 10px 0px;
}

.RoomCenterDescriptionTableRight{
    padding-left : 30px;  
    width : 200px;
}



.FixedRightDescriptionDiv{
    position : fixed;
    top : 75px;
    display : inline-block;
    left : 70%;
    width : 250px;
    padding : 40px 20px;
    border : 1px solid #D1D1D1;
}

.FixedRightDescriptionDivTopRoom p{
    font-size : 14px;
}

.FixedRightDescriptionDivTopButtonDiv{
    position : relative;
    top : 10px;
    text-align: center;
}

.FixedRightDescriptionButton{
    display: inline-block;
    width : 120px;
    height : 25px;
    border : 1px solid black;
    border-radius: 2px;
}

.FixedRightDescriptionDivBottom{
    position : relative;
    top : 20px;
}

.FixedRightDescriptionDivBottomBackground{
    position :relative;
    left : -20px;
    top : 20px;
    background-color: #F7F7F7;
    width : 250px;
    height : 300px;
    padding : 20px 20px;
    border-top : 1px solid #D1D1D1;
}

.FixedRightDescriptionDivBottomDealerPhone{
    border : 1px solid black;
    background-color : blue;
    color : white;
    text-align : center;
    height : 40px;
    margin-top : 20px;
}

.FixedRightDescriptionDivBottomDealerPhone p{
    position : relative;
    top : 10px;
}



.RoomCenterOptionDiv{
    position : relative;
    top : 50px;
    left : -9%;
    width : 82%;
}

.RoomCenterOptionDiv table{
    position : relative;
    width : 660px;
    border : 0px solid black;
    border-collapse: collapse;
    font-size : 14px;
}

.RoomCenterOptionDiv caption{
    text-align: left;
    font-size : 20px;
    font-weight: 900;
    padding : 15px 0px;
}


.RoomCenterOptionDiv td{
    width : 15px;
    height : 15px;
}

.RoomCenterOptionDiv img{
    display: block;
    position : relative;
    width : 660px;
    
}




.RoomCenterDetailedDescriptionDiv{
    position : relative;
    top : 100px;
    left : -9%;
    width : 82%;
}

.RoomCenterDetailedDescription{
    position : relative;
    top : 100px;
    left : -9%;
    width : 82%;
    width : 660px;
}

.RoomCenterDetailedDescription p{
    padding : 15px 0px
}

.RoomCenterGoogleMapDiv{
    position : relative;
    top : 150px;
    width : 82%;
    
}

.RoomCenterGoogleMap{
    position : relative;
    width : 660px;
    
}


.RoomCenterGoogleMapBottom{
    position : relative;
    top : 650px;
    left : 300px;
}































    @media screen and (max-width : 1024px){
            body{
                overflow-x : scroll;
            }

            .AppWrapper{
                background: url(./images/mainPhotoTop.png);
                background-repeat:no-repeat;
                background-position: top 60px left -750px;
                background-size: 2650px 570px;
            }
            
            .MainPhotoBottomDiv{
                width : 100%;
            }
            
            .NavRoomDiv{
                left : 600px;
                top : 20px;
            }

            .NavLoginDiv{
              left : 950px;
              top : 20px;
            }


            .MainPhotoBottomDiv{
                position : absolute;
                top : 628px;
                text-align: center;
                background-color : #595E62;
                width : 1110px;
                height : 110px;
            }

            .MainPhotoBottomSearch{
                left : -50px;
            }


            .MainPhotoBottomButton{
                left : -50px;
            }
            
            .TemaSearchPhotoGroup{
                position :absolute;
                top : 879px;
            }
            .TemaSearchSentence{
                position : absolute;
                left : 255px;
                top : 752px;
                width : 500px;
                text-align: center;
            }

            .TableSiteDiv{
                position : absolute;
                top :2150px;
                width :1110px;
            }

            .TableSite{
                left : 20px;
                width : 955px;
            }
            
            .FooterDiv{
                width : 1110px;
            }

            .FooterUlGroupDiv{
                padding-left : 50px;
            }
        }