*{
    margin : 0 auto;
    padding : 0;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color : black;
}

img{
    border:0;
}

body {
    overflow-x : none;
}


/*DropDown 공통 스타일*/

.commonDropDown{
    position: absolute;
    display: block;
    background-color: #f9f9f9;
    z-index: 1;
    font-size : 13px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.1);
}

.commonDropDown input[type="number"]{
    width : 80px;
    height : 20px;
    margin : 10px 5px;
    text-indent : 5px;
}

.commonDropDown input[type="checkbox"]{
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0
}

.commonDropDown input[type="checkbox"] + label {
    display: inline-block;
    position: relative;
    cursor: pointer;
}

.commonDropDown input[type="checkbox"] + label:before {
    content: ' ';
    display: inline-block;
    width: 11px;
    height: 11px;
    line-height: 11px;
    margin: -2px 3px 0 0;
    text-align: center;
    vertical-align: middle;
    background: #D1D1D1;
    border: 1px solid #D1D1D1;
    border-radius: 3px;
}

.commonDropDown input[type="checkbox"]:checked + label:before {
    content: '\2714';
    font-size : 10px;
    color: white;
    background: #3B8DE0;
    border-color: #3B8DE0;
}


.commonDropDown li, .commonDropDown h4{
    padding :5px 0px;
}

.commonDropDown li{
    color : #A5A5A5;
}


.commonDropDownTop{
    padding : 0px 16px;
}


.commonHashDescription{
    display : inline-block;
    font-size : 13px;
    border : 1px solid #E7F4FF;
    border-radius: 30%;
    background-color : #E7F4FF;
    margin : 0px 5px;
    padding : 0px 3px;
}

.commonPriceColorBlue{
    color : blue
}

.commonPriceColorOrange{
    color : orange
}


/*미디어쿼리*/

    @media screen and (max-width : 1024px){
            body{
                width : 1100px;
                overflow-x : scroll;
            }

            .layoutApp{
                background-position: top 60px left -570px;
            }

            .layoutDetailedRoom .detailedRoomMain{
                width : 1050px;
            }
        }