body {
    overflow-x : none;
}


.ContainerApp { 
        background: url(./images/AppLayout/mainPhotoTop.png);
        background-repeat:no-repeat;
        background-position: top 60px left 45%;
        background-size: 2650px 570px;
            
        }
        


*{
    margin : 0 auto;
    padding : 0;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color : black;
}

img{
    border:0;
}

/*ContainerHeader*/

.ContainerHeader{
    position : relative;
    height: 60px;
}

.MainIconDiv{
    display : inline-block;
    position : absolute;
    top : 5px;
    left : 10px;
}

.MainDabangProDiv{
    display : inline-block;
    position : absolute;
    top : 10px;
    left : 100px;
}

.MainBarDiv{
    display : inline-block;
    position : absolute;
    top : 15px;
    left : 178px;
}

.MainDabangPayDiv{
    display : inline-block;
    position : absolute;
    top : 12px;
    left : 193px;
}



.NavRoomDiv{
    display : inline-block;
    position : absolute;
    right : 330px;
    top : 20px;
    width : 350px;
}

.NavRoomDiv ul{
    display : inline-block;
    padding-left: 70px;
    font-size : 14px;
    font-weight: 100;
}

.NavRoomDiv li{
    display : inline;
    padding-left : 30px;
}


.NavRoomDiv .active{
    font-weight: bold;
    display : inline-block;
    height: 35px;
    border-bottom : 4px solid #2579CD;
}

.NavLink:hover{
    color : #B9EBFF;
}

.NavLoginDiv{
    display : inline-block;
    position : absolute;
    right : 20px;
    top : 20px;
    width : 300px;
}

.NavLoginDiv ul{
    display : inline-block;
    padding-left: 20px;
    font-size : 12px;
    font-weight: 100;
}

.NavLoginDiv li{
    display : inline;
    padding-left : 30px;
}


.MainPhotoDiv{
    position : relative;
    height: 650px;
}

.MainPhotoBottomDiv{
    position : relative;
    top : 540px;
    text-align: center;
    background-color : #595E62;
    width : 100%;
    height : 110px;
}

.MainPhotoBottomSearch{
    position : relative;
    top : 30px;
    width : 430px;
    height : 50px;
    border : 0px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    text-indent : 20px;
    font-size : 15px;
}

.MainPhotoBottomButton{
    position : relative;
    top : 31px;
    width : 100px;
    height : 51px;
    background-color : #2579CD;
    border : 1px solid #2579CD;
    left : -6px;
    color : white;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}

.MainPhotoBottomButton:hover{
    background-color: #2074C8;
}


.ThemaSearchGroup{
    position : relative;
    padding-top : 50px;
    width : 1100px;
    height : 900px;
    text-align: center;
}

.ThemaSearchSentence{
    position : relative;
    width : 100%;
    text-align: center;
}

.ThemaSearchSentence h1{
    font-size : 38px;
}

.ThemaSearchSentence p{
    font-size : 20px;
}

.ThemaSentence{
    position : relative;
    top : -200px;
    text-align: center;
    color : white;
    width : 200px;
}

.ThemaSentence h3{
    font-size : 22px;
    margin-bottom: 20px;
}
.ThemaSentence hr { 
    position : relative;
    width : 50px;
    margin-bottom: 20px;
}

.ThemaSentence p{
    font-size : 13px;
}

.ThemaSearchPhotoGroup{
    position:relative;
    width : 1100px;
    top : 50px;
}

.ThemaSearchPhotoGroup figure {
    height : 300px;
    background: #fff;
    overflow: hidden;
}

.ThemaSearchTable img { 
    width : 300px;
    height: 300px;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

.ThemaSearchTable figure:hover img {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    opacity: 0.5;
}

.ThemaSearchTable td{
    padding : 10px;
    margin : 20px;
}




.CarePhotoDiv {
    position: relative;
    height : 100px;
    background-color : #266BC2;
    width : 100%;
    text-align: center;
}

.CarePhotoDiv img{
    position:relative;
    padding-left : 100px;
    width : 1000px;
    height : 100px;
}



.CareDot {
    position:absolute;
    top : 80px;
    right : 10%;
    width : 15px;
    height : 15px;
    border-radius: 10px;
    background-color: white;
    z-index: 10;
}




.NavSiteDiv{
    position:relative;
    padding-top:50px;
    width : 100%;
    height : 320px;
    text-align: center;
}

.NavSiteUl{
    position : relative;
    width : 1100px;
    height : 320px;
}



.NavSiteUlCommon{
    top : 0px;
    display : inline-block;
    width : 190px;
    text-align: left;
    margin-right : 5px;
}


.NavSiteUl h4{
    font-size : 15px;
    color : #585858;
    font-weight: 600;
}

.NavSiteUl li {
    font-size : 13px;
    padding-top : 10px;
    font-weight: 100;
}

.NavSiteUl li:hover {
    text-decoration: underline;
    color : #3B8DE0;
}

.NavSiteUl1{
    position : relative;
    top : -40px;
    height : 170px;
    
}

.NavSiteUl2{
    position : relative;
    top : -15px;
    height : 190x;
}

.NavSiteUl3{
    position : relative;
    top : -123px;
}

.NavSiteUl4{
    position : relative;
    top : 60px;
    left : -195px;
}

.NavSiteUl5{
    position : relative;
    top : -95px;
    left : -195px;
}

.NavSiteUl6{
    position : relative;
    top : -50px;
    left : 295px;
}

.NavSiteUl7{
    position : relative;
    top : -240px;
    left : 295px;
}



.TableSiteDiv{
    text-align: center;
    position : relative;
    width :100%;
}

.TableSiteDivHr{
    border :0.5px solid #D1D1D1;
}

.TableSite{
    position : relative;
    top:-1px;
    border-collapse: collapse;
    width :900px;
}



.TableSite td{
    font-size : 13px;
    width : 135px;
    height : 50px;
    border : 1px solid #D1D1D1;
    border-top : 0px;
    border-bottom: 0px;
}

.TableSite td:hover{
    background-color: #E7E7E7;

}



.FooterDiv{
    position : relative;
    width : 100%;
    height : 270px;
    background-color : #2A2A2A;
    text-align: center;
}

.FooterUlGroupDiv{
    position : relative;
    top : 75px;
    width : 1100px;
    height : 175px;
}

.FooterUlGroupDiv li{
    padding-bottom: 10px;
    text-align: left;
}

.FooterUl1{
    color : #919191;
    display : inline-block;
    font-size : 13px;
    width : 285px;
}

.FooterUl1 span {
    color : white;
    font-weight: 800;
}

.FooterUl2{
    color : #919191;
    display : inline-block;
    font-size : 13px;
    width : 315px;
    margin-left: 10px;
}

.FooterUl2 span:hover{
    color : white;
    text-decoration: underline;
}

.FooterUl3{
    color : #919191;
    display : inline-block;
    font-size : 13px;
    width : 196px;
    margin-left: 10px;
}



.FooterImg{
    position : relative;
    display : inline-block;
    top : 0px;
    left : -30px;
}


.FooterUlImg1{
    padding-bottom : 20px;
    padding-left : 80px;
    position : relative;
    display : inline-block;
    left : 10px;
}

.FooterUlImg2{
    padding-bottom : 20px;
    padding-left : 10px;
    position : relative;
    display : inline-block;
    left : 10px;
}



.Modal {
/*    display: none; */
    position: fixed; 
    z-index: 10; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.8); 
    padding-top: 60px;
}

 .AllBorder{
    position : relative;
    top : 130px;
    margin : auto;
    width : 350px;
    height : 450px;
    border-top : 4px solid #3B8DE0;
    background-color: white;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.Close {
    position: relative;
    right : -355px;
    top : -55px;
    color: white;
    font-size: 40px;
    font-weight: 300;
    padding : -30px;
}

.Close:hover, .Close:focus {
    color: aqua;
    cursor: pointer;
}



.LoginBoxTop{
    margin-top : -60px;
}

.LoginForm{
    padding: 15px;
}

.WarningMessageH2{
    position : fixed;
    top : 10px;
    background-color : red;
    color : white;
    width : 350px;
    height : 45px;
    line-height: 40px;
    border-radius: 5px;
    text-indent: 10px;
    font-size : 15px;
}


.LoginBoxLogin{
    margin-bottom: 5px;
    margin-top : 25px;
}

.LoginForm h1 {
        font-size : 23px;
        text-align: center;
        font-weight: 600;
        padding : 15px;
    }

.LoginBoxLogin label{
    font-size : 13px;
}

.LoginBoxLogin input{
            position : relative;
            width: 250px;
            height : 40px;
            padding: 12px 20px;
            margin: 8px 0;
            border: 1px solid skyblue;
            box-sizing: border-box;
        }

.EmailId {
    right : -27px;
}

.Password{
    right : -15px;
}


.LoginButton {
    background-color : #3588DB;
    width : 325px;
    height : 50px;
    color : white;
    border: 0;
    margin-top : 20px;
    border-radius : 5px;
}

.LoginButton:hover{
    background-color : #2074C8;
}







.LoginBoxBottom{
    padding :0px 15px;
}

.LoginOption{
    text-align: center;
    width : 280px;
}

.LoginOption li{
    display : inline-block;
    font-size : 13px;
    padding : 0px 3px;
}

.LoginOption a{
    color : gray;
}

.KakaoLogin { 
    margin-right: 2px;
    background-color : yellow;
    width : 157px;
    height : 40px;
    border: 1px solid black;
    border-radius : 5px;
}

.KakaoLogin:hover  {
    background-color : #BDAB0A;
}

.FacebookLogin { 
    margin-left: 2px;
    background-color : darkblue;
    color : white;
    width : 157px;
    height : 40px;
    border: 1px solid black;
    border-radius : 5px;
    margin-top: 25px;
}

.FacebookLogin:hover{
    background-color : #29447F;
}

.ProRegister{
        display : block;
        text-align: center;
        font-size:13px;
        margin : -10px;
        margin-top : 0px;
    }


.ConfirmEmailId{
    z-index : 2;
}


.GoogleMapDiv{
    position : relative;
    top : 2000px;
}













.ContainerRoomSearch{
    overflow-y: hidden;
}


.HeaderRoomSearch{
    height: 60px;
}



.RoomSearch{
    position : relative;
    display : inline-block;
    top : -10px;
    left : 20px;
}

.RoomSearch input{
    font-size : 12px;
    text-align: center;
    color : gray;
    width : 250px;
    height : 30px;
    border : 2px solid #3B8DE0;
    border-right: none;
}

.RoomSearch button {
    background-color: #3B8DE0;
    width : 35px;
    height : 34px;
    color : white;
    border : none;
    position : relative;
    left : -6px;
    top : 2px;
}
.HeaderRoomSearch li{
    float : left;
}


.ProductNav{
    background-color: #F7F7F7;
    height : 40px;
    width : 100%;
}


.ProductNavRight{
    position : absolute;
    top : 65px;
    right : 50px;
}

.ProductNavRight li{
    position : relative;
    left : 30px;
    font-size : 13px;
    display : inline-block;
    padding-left : 40px;

}

.RoomSearchNavLeft{
    position : relative;
    border : 1px solid #E5E5E5;
    box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.1);
    z-index : 1;
}

.RoomSearchNavLeftDiv{
    position : relative;
    left : 20px;
    display : inline-block;
    height: 20px;
    padding : 10px 0px;
}

.RoomSearchNavLeftDiv:hover{
    background-color : white;
}

.RoomSearchNavLeftDivDiv{
    text-align: center;
    display : inline-block;
    padding : 0px 20px;
    border : 1px solid #D1D1D1;
    border-top : 0px;
    border-bottom : 0px;
    border-right : 0px;
    font-size : 13px;
    color : #585858;
}

.RoomSearchNavLeftDivDiv:after{
    content : " ▼";
    position :relative;
    left : 5px;
    color : #3B8DE0;
}

.RoomSearchNavLeftDivDivOpen:after{
    content : " ▲";
    position :relative;
    left : 5px;
    color : #3B8DE0;
}

.RoomSearchNavLeftDivDivDeposit:before{
    content: url(./images/RoomSearch/RoomSearchNavLeftDivDivDeposit.png);
}

.RoomSearchNavLeftDivDivFee:before{
    content: url(./images/RoomSearch/RoomSearchNavLeftDivDivFee.png);
}

.CommonShow{
    position: absolute;
    display: block;
    background-color: #f9f9f9;
    z-index: 1;
    font-size : 13px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.1);
}

.CommonShow input[type="number"]{
    width : 80px;
    height : 20px;
    margin : 10px 5px;
    text-indent : 5px;
}

.CommonShow input[type="checkbox"]{
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0
}

.CommonShow input[type="checkbox"] + label {
    display: inline-block;
    position: relative;
    cursor: pointer;
}

.CommonShow input[type="checkbox"] + label:before {
    content: ' ';
    display: inline-block;
    width: 11px;
    height: 11px;
    line-height: 11px;
    margin: -2px 3px 0 0;
    text-align: center;
    vertical-align: middle;
    background: #D1D1D1;
    border: 1px solid #D1D1D1;
    border-radius: 3px;
}

.CommonShow input[type="checkbox"]:checked + label:before {
    content: '\2714';
    font-size : 10px;
    color: white;
    background: #3B8DE0;
    border-color: #3B8DE0;
}







.CommonShow li, .CommonShow h4{
    padding :5px 0px;
}

.CommonShow li{
    color : #A5A5A5;
}

.ShowProduct{
    width : 120px;
    left : 20px;
    padding: 12px 16px;
}


.ShowDeal{
    width : 120px;
    left : 130px;
    padding: 12px 16px;
}

.ShowRoom{
    width : 120px;
    padding: 12px 16px;
    left : 240px;
}

.ShowDeposit{
    width : 240px;
    padding: 12px 0px;
    left : 340px;
}

.CommonShowTop{
    padding : 0px 16px;
}


.ShowDepositP{
    margin-left : 5px;
}


.ShowDepositDivLeft{
    display : inline-block;
    width : 120px;
    text-align: left;
    text-indent : 30px;
}


.ShowDeposit li:hover{
    background-color : #E5F1FE;
}

.ShowDepositDivRight{
    display : inline-block;
    width : 120px;
    text-align: right;
}


.ShowFee{
    width : 240px;
    padding: 12px 0px;
    left : 505px;
    font-size : 14px;
}

.ShowFee input[type="number"]{
    width : 80px;
}

.ShowFee li:hover{
    background-color : #E5F1FE;
}

.ShowFeeDivLeft{
    display : inline-block;
    width : 120px;
    text-align: left;
    text-indent : 30px;
}

.ShowFeeDivRight{
    display : inline-block;
    width : 120px;
    text-align: right;
}

.ShowOption{
    width : 120px;
    padding: 12px 16px;
    left : 670px;
}











.MapContainerDiv{
    position : relative;
    width :100%;
    height : 700px;
}



.RoomListDiv{
    display: inline-block;
    position :fixed;
    right : 0px;
    top : 102px;
    width : 460px;
    height : 100%;
    background-color: white;
}

.RoomListOverFlow{
    height : 100%;
    overflow-y: scroll;
}

.RoomListResult{
    background-color : #3B8DE0;
    height : 40px;
}

.RoomListResult p{
    position : relative;
    top : 10px;
    width : 440px;
    font-size : 14px;
    color : white;
}


.RoomListResult p:before{
    content : "▶"
}

.RoomListAd{
    background-color: #F7F7F7;
    height : 40px;
}




.RoomListAd p{
    position : relative;
    top : 10px;
    width : 420px;
    font-size : 14px;
}

.RoomListAd p:before{
    content: url(./images/RoomSearch/RoomListAdContent.png);
}

.RoomListAd span{
    position : relative;
    right : -400px;
    top : -10px;
    font-size : 14px;
}

.RoomListTable{
    margin : 10px;
    width : 420px;
    border-collapse: collapse;
}

.RoomListTable td{
    width : 420px;
    padding : 2px;
    height : 120px;
    border : 1px solid #DFDFDF;
}

/*.RoomListTable td:hover{
    background-color : #D2E5FF;    
}*/
.RoomListTable img{
    z-index : -1;
    position : relative;
    left : 30px;
    top : 30px;
    width : 110px;
    height : 100px;
    margin : -20px;
}

.RoomListTable .rentType{
    z-index : -1;
    font-size :20px;
    display : inline-block;
    position : relative;
    top : -40px;
    left : 60px;
}

.RoomListTable .depositFee{
    z-index : -1;
    font-size : 20px;
    font-weight: 500;
    color : blue;
    display : inline-block;
    position : relative;
    top : -42px;
    left : 70px;
}

.roomHashDescription{
    display: block;
    z-index : -1;
    position : relative;
    top : -15px;
    left : 60px;
    font-size : 14px;
    width : 280px;


}

.roomDescription{
    display : block;
    z-index : -1;
    position : relative;
    top : -35px;
    left : 60px;
    font-size : 14px;
    width : 280px;
}

.roomPrivateDesctiption{
    display : block;
    z-index : -1;
    position : relative;
    top : -10px;
    left : 60px;
    font-size : 14px;
    width : 280px;
}


















.PhotoSlideDiv{
    position : relative;
    top : 20px;
    left : -9%;
    width : 82%;
}

.PhotoSlideDiv img{
    display: block;
}

.HeaderGroupHr{
    position : relative;
    border-top: 1px solid #E7E7E7;
}

.RoomCenterDescriptionTableDiv{
    position : relative;
    top : 20px;
    left : -9%;
    width : 82%;
    height : 300px;
    padding-top : 30px;
}

.RoomCenterDescriptionTableDiv table{
    position : relative;
    width : 660px;
    border : 1px solid black;
    border-collapse: collapse;
    border-left : 0px;
    border-right : 0px;
    font-size : 14px;
}

.RoomCenterDescriptionTableDiv table caption{
    text-align: left;
    font-size : 20px;
    font-weight: 900;
    padding : 15px 0px;
}

.RoomCenterDescriptionTableDiv table td{
    color : #929292;
    text-align: left;
    border : 1px solid #D1D1D1;
    width : 130px;
    border-left : 0px;
    border-right : 0px;
}

.RoomCenterDescriptionTableDiv table th{
    text-align: right;
    border : 1px solid #D1D1D1;
    width : 240px;
    border-left : 0px;
    border-right : 0px;
    padding : 10px 0px;
}

.RoomCenterDescriptionTableRight{
    padding-left : 30px;  
    width : 200px;
}




.FixedRightDescriptionWrapper{
    position : fixed;
    top : 75px;
    left : 70%;
    width : 250px;
    padding : 20px 20px;
    border : 1px solid #D1D1D1;
    z-index : 3;
    background-color : white;
}


.FixedRightDescriptionDiv{
    
}

.FixedRightDescriptionDivAbsolute{
    position : absolute;
    bottom : -300px;
    left : 70%;
    width : 250px;
    padding : 20px 20px;
    border : 1px solid #D1D1D1;
    z-index : 3;
    background-color : white;
}

.FixedRightDescriptionDivTopRoom h3{
    display : inline-block;
    padding : 5px 0px;
}

.shortDescriptionP{
    color : #585858;
    font-size : 15px;
    padding : 5px 0px;
}

.DomicileP{
    color : #AAAAAA;
    font-size : 14px;
    padding : 5px 0px;
}

.HashDescriptionDiv{
    display : inline-block;
    font-size : 13px;
    border : 1px solid #E7F4FF;
    border-radius: 30%;
    background-color : #E7F4FF;
    margin : 0px 5px;
    padding : 0px 3px;
}

.FixedRightDescriptionDivTopButtonDiv{
    position : relative;
    top : 10px;
    text-align: center;
}

.FixedRightDescriptionButton{
    text-align: center;
    display: inline-block;
    color : #585858;
    width : 110px;
    height : 25px;
    border : 1px solid black;
    border-radius: 2px;
    margin : 0px 5px;
    font-size : 13px;
    padding-top : 3px;
}

    
.FixedRightDescriptionButton:hover{
    background-color: #ECF0F5;
}

.FixedRightDescriptionButtonHeartIcon:before{
    content: '\2764';
}

.FixedRightDescriptionButtonSirenIcon:before{
    content: '\26a0';
}


.FixedRightDescriptionDivBottom{
    position : relative;
    top : 20px;
}

.FixedRightDescriptionDivBottomBackground{
    position :relative;
    left : -20px;
    background-color: #F7F7F7;
    width : 100%;
    height : 100%;
    padding : 20px 20px;
    border-top : 1px solid #D1D1D1;
}

.FixedRightDescriptionDivBottomDealer h3{
    font-size : 15px;
}

.FixedRightDescriptionDivBottomDealer .dealerIncCEOP{
    font-size : 14px;
    padding : 6px 0px;
    color : #585858;
    font-weight: 900;
}

.FixedRightDescriptionDivBottomDealer .dealerP{
    font-size : 13px;
    padding : 6px 0px;
}

.FixedRightDescriptionDivBottomDealer .dealerIncDomicileP{
    font-size : 13px;
    padding : 1px 0px;
}

.FixedRightDescriptionDivBottomDealer .registrationNumberP{
    font-size :13px;
    padding : 2px 0px;
}

.FixedRightDescriptionDivBottomDealer .confirmP{
    font-size : 10px;
    padding : 5px 0px;
}

.confirmP:before{
    content : '\26a0'
}

.FixedRightDescriptionDivBottomDealerPhone{
    border : 1px solid black;
    background-color : blue;
    color : white;
    text-align : center;
    height : 40px;
    margin-top : 20px;
}

.FixedRightDescriptionDivBottomDealerPhone p{
    position : relative;
    top : 10px;
}



.RoomCenterOptionDiv{
    position : relative;
    top : 20px;
    left : -9%;
    width : 82%;
    padding-top : 30px;
}


.RoomCenterOptionDiv img,.RoomCenterOptionDiv h3{
    display: block;
    position : relative;
    width : 660px;
    
}





.RoomCenterDetailedDescription{
    position : relative;
    top : 20px;
    left : -9%;
    width : 82%;
    padding-top : 50px;
}

.RoomCenterDetailedDescriptionDiv{
    position : relative;
    width : 660px;
}
.RoomCenterDetailedDescription p{
    padding : 15px 0px
}

.RoomCenterGoogleMapDiv{
    position : relative;
    top : 50px;
    width : 82%;
    height : 1200px;
    
}



.RoomCenterGoogleMapBottom{
    position : relative;
    top : 850px;
    left : 300px;
}































    @media screen and (max-width : 1024px){
            body{
                width : 1100px;
                overflow-x : scroll;
            }

            .ContainerApp{
                background-position: top 60px left -750px;
            }

            .NavRoomDiv{
                left : 400px;
                top : 20px;
            }

            .NavLoginDiv{
              left : 750px;
              top : 20px;
            }

            
            .MainPhotoBottomDiv{
                position : absolute;
                text-align: center;
            }

            .MainPhotoBottomSearch{
                left:-50px;
            }

            .MainPhotoBottomButton{
                left:-50px;
            }

        }