
.dropDownDeposit{
    width : 240px;
    padding: 12px 0px;
    left : 340px;
}


.commonDropDownTop p{
    margin-left : 5px;
}


.dropDownDepositDivLeft{
    display : inline-block;
    width : 120px;
    text-align: left;
    text-indent : 30px;
}


.dropDownDeposit li:hover{
    background-color : #E5F1FE;
}

.dropDownDepositDivRight{
    display : inline-block;
    width : 120px;
    text-align: right;
}
